.dialogue-view
{
    
}

/* Option Views Container */

.option-view-container
{
    
}

/* Option View */

.option-view
{
    margin-bottom: 5px;
    padding: 5px;
    
    background-color: var(--ds-button-color-default);
}

.option-view:hover
{
    background-color: var(--ds-button-color-selected);
    
    transition: 100ms;
}

.option-view.option-view--pressed
{
    background-color: var(--ds-button-color-pressed);
    
    transition: 100ms;
}